    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background: #f4f4f4;
    }

    header {
        background: #0A3D62;
        color: white;
        padding: 20px 40px;
        display: flex;
        align-items: center;        
    }

    header h1 {
         margin: 0;
         }

    nav a {
        color: white;
        text-decoration: none;
        margin-left: 30px;
        font-weight: bold;
    }

    .hero {
        background: url('https://images.unsplash.com/photo-1568605114967-8130f3a36994?auto=format&fit=crop&w=1400&q=60')
        center/cover no-repeat;
        height: 803px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 5px black;
        font-size: 40px;
        font-weight: bold;
    }
    .search-bar {
        background: lightblue;
        padding: 15px;
        margin: 20px
        width: 80px;
        display: flex;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }

    .search-bar input, .search-bar select {
        flex: auto;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;
        text-align: center;
        font-size: large;
    }

    .search-bar button {
        padding: 50px 20px;
        background: #0A3D62;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
    }

    .container {
         background: url('bckimg.jpeg')
        center/cover no-repeat;
        width: 100%;
        margin: auto;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;
        justify-items: center;
    }

    .card {
        background: lightblue;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        transition: transform .3s;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 15px;
        text-align: center;
    }

    .price {
        color: #0A3D62;
        font-weight: bold;
        font-size: 20px;
    }

    footer{
        position: fixed;
        width: 2200px;
        background: #0A3D62;
        color: white;
        text-align: center;
        padding: 15px;
    }
